<table width=720 border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><strong><font color="#000000">班级成绩　考试名称：<?=$ExamName?></font></strong></td>
    <td><div align="right"><strong><font color="#000000">http://<?=$Website?></font></strong></div></td>
  </tr>
  <tr>
    <td><font color="#000000">班主任：<?=$TeacherName?></font></td>
    <td>&nbsp;</td>
  </tr>
</table>

<hr width=720 height="1" align="$align" color="#000000">
<table width=720 border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><font color="#000000"><strong>班级名称:<?=$ClassCode?></strong></font></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><div align="right"><font color="#000000">更新时间:<?=$UpdateDate?></font>　 
        <input type="button" value="打印" class="SmallButton" onclick="execCommand('Print');" title="打印本页">　
		<input type="button" value="刷新" class="SmallButton" onclick="execCommand('refresh');" title="刷新本页">　
		<input type="button" value="返回列表" class="SmallButton" onclick="location='Exam_List.php'" title="返回列表">
      </div></td>
  </tr>
</table>
<br>

