<table width=100% border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><font color="#000000"><strong><?=$ExamName?></strong>&nbsp;&nbsp;<strong><?=$ClassCode?></strong></font></td>
    <td><div align="right"><font color="#000000"><?=$UpdateDate?></font>　 
<input type="button" value="打印" class="SmallButton" onclick="execCommand('Print');" title="打印本页">　
<input type="button" value="刷新" class="SmallButton" onclick="execCommand('refresh');" title="刷新本页">　
<input type="button" value="返回" class="SmallButton" onclick="location='Exam_class_change.php?JiBie=<?=$JiBie?>'" title="返回">
      </div></td>
  </tr>
</table>
<br>

