<table width="2000" border="0" cellspacing="1" class="small" bgcolor="#000000" cellpadding="3" align="center">
  <tr align="center" class="TableHeader"> 
    <td nowrap colspan="2" rowspan="2">多媒体教室使用情况表</td>
    <td nowrap colspan="5" bgcolor="#CCFFCC"><div align="center">周一</div></td>
    <td nowrap colspan="5" bgcolor="#FFCCFF"><div align="center">周二</div></td>
    <td nowrap colspan="5" bgcolor="#CCFFCC"><div align="center">周三</div></td>
    <td nowrap colspan="5" bgcolor="#FFCCFF"><div align="center">周四</div></td>
    <td nowrap colspan="5" bgcolor="#CCFFCC"><div align="center">周五</div></td>
    <td nowrap colspan="5" bgcolor="#FFCCFF"><div align="center" >周六</div></td>
    <td nowrap colspan="5" bgcolor="#CCFFCC"><div align="center" >周日</div></td>
  </tr>

<tr align="center" class="TableHeader"> 

    <td nowrap ><div align="center">1－2</div></td>
    <td nowrap >3－4</td>
    <td nowrap >5－6</td>
    <td nowrap >7－8</td>
    <td nowrap bgcolor="#CCFFCC">Night</td>

    <td><div align="center">1－2</div></td>
    <td> 3－4</td>
    <td>5－6</td>
    <td>7－8</td>
    <td nowrap bgcolor="#FFCCFF">Night</td>

    <td><div align="center">1－2</div></td>
    <td> 3－4</td>
    <td>5－6</td>
    <td>7－8</td>
    <td nowrap bgcolor="#CCFFCC">Night</td>

    <td><div align="center">1－2</div></td>
    <td> 3－4</td>
    <td>5－6</td>
    <td>7－8</td>
    <td nowrap bgcolor="#FFCCFF">Night</td>

    <td><div align="center">1－2</div></td>
    <td> 3－4</td>
    <td>5－6</td>
    <td>7－8</td>
    <td nowrap bgcolor="#CCFFCC">Night</td>

    <td><div align="center">1－2</div></td>
    <td> 3－4</td>
    <td>5－6</td>
    <td>7－8</td>
    <td nowrap bgcolor="#FFCCFF">Night</td>

    <td><div align="center">1－2</div></td>
    <td> 3－4</td>
    <td>5－6</td>
    <td>7－8</td>
    <td nowrap bgcolor="#CCFFCC">Night</td>

  </tr>