<table% border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><strong><font color="#000000"><{$TitleName}>课表</font></strong></td>
    <td><div align="right"><strong><font color="#000000">http://<{$Website}></font></strong></div></td>
  </tr>
</table>

<hr% height="1" align="$align" color="#000000">
<table% border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><font color="#000000"><strong></strong></font></td>

    <td><div align="right"><font color="#000000">更新时间:<{$UpdateDate}></font>　　 
        <input type="button" value="打印" class="SmallButton" onclick="execCommand('Print');" title="打印本页">　<input type="button" value="关闭" class="SmallButton" onclick="window.close();" title="关闭本页">
      </div></td>
  </tr>
</table>
<br>

<table cellspacing="0" class="TableBlock" >
  <tr align="center" class="TableHeader"> 
    <td nowrap colspan="2" align="center" rowspan="2" class="TableData"><div align=center>班级名称</div></td>
    <td nowrap colspan="<{$COLSPAN}>" align="center"><div align="center">周一</div></td>
    <td nowrap colspan="<{$COLSPAN}>" align="center"><div align="center">周二</div></td>
    <td nowrap colspan="<{$COLSPAN}>" align="center"><div align="center">周三</div></td>
    <td nowrap colspan="<{$COLSPAN}>" align="center"><div align="center">周四</div></td>
    <td nowrap colspan="<{$COLSPAN}>" align="center"><div align="center">周五</div></td>
    <{if $IS6 == "1"}><td nowrap colspan="<{$COLSPAN}>" align="center"><div align="center" >周六</div></td><{/if}>
    <{if $IS7 == "1"}><td nowrap colspan="<{$COLSPAN}>" align="center"><div align="center" >周日</div></td><{/if}>
  </tr>
  <tr align="center" class="TableHeader"> 
    <{if $ISZAOSHANG == "1"}><td nowrap >早上</td><{/if}>
	<td nowrap >上午1</td>
	<td nowrap >上午2</td>
	<td nowrap >上午3</td>
	<td nowrap >上午4</td>
	<td nowrap >下午1</td>
	<td nowrap >下午2</td>
	<td nowrap >下午3</td>
	<td nowrap >下午4</td>
	<{if $ISWANSHANG == "1"}><td nowrap >晚上1</td><{/if}>
	<{if $ISWANSHANG == "1"}><td nowrap >晚上2</td><{/if}>

	<{if $ISZAOSHANG == "1"}><td nowrap >早上</td><{/if}>
	<td nowrap >上午1</td>
	<td nowrap >上午2</td>
	<td nowrap >上午3</td>
	<td nowrap >上午4</td>
	<td nowrap >下午1</td>
	<td nowrap >下午2</td>
	<td nowrap >下午3</td>
	<td nowrap >下午4</td>
	<{if $ISWANSHANG == "1"}><td nowrap >晚上1</td><{/if}>
	<{if $ISWANSHANG == "1"}><td nowrap >晚上2</td><{/if}>

	<{if $ISZAOSHANG == "1"}><td nowrap >早上</td><{/if}>
	<td nowrap >上午1</td>
	<td nowrap >上午2</td>
	<td nowrap >上午3</td>
	<td nowrap >上午4</td>
	<td nowrap >下午1</td>
	<td nowrap >下午2</td>
	<td nowrap >下午3</td>
	<td nowrap >下午4</td>
	<{if $ISWANSHANG == "1"}><td nowrap >晚上1</td><{/if}>
	<{if $ISWANSHANG == "1"}><td nowrap >晚上2</td><{/if}>

	 <{if $ISZAOSHANG == "1"}><td nowrap >早上</td><{/if}>
	<td nowrap >上午1</td>
	<td nowrap >上午2</td>
	<td nowrap >上午3</td>
	<td nowrap >上午4</td>
	<td nowrap >下午1</td>
	<td nowrap >下午2</td>
	<td nowrap >下午3</td>
	<td nowrap >下午4</td>
	<{if $ISWANSHANG == "1"}><td nowrap >晚上</td><{/if}>
	<{if $ISWANSHANG == "1"}><td nowrap >晚上</td><{/if}>


	<{if $ISZAOSHANG == "1"}><td nowrap >早上</td><{/if}>
	<td nowrap >上午1</td>
	<td nowrap >上午2</td>
	<td nowrap >上午3</td>
	<td nowrap >上午4</td>
	<td nowrap >下午1</td>
	<td nowrap >下午2</td>
	<td nowrap >下午3</td>
	<td nowrap >下午4</td>
	<{if $ISWANSHANG == "1"}><td nowrap >晚上1</td><{/if}>
	<{if $ISWANSHANG == "1"}><td nowrap >晚上2</td><{/if}>

<{if $IS6 == "1"}>
	<{if $ISZAOSHANG == "1"}><td nowrap >早上</td><{/if}>
	<td nowrap >上午1</td>
	<td nowrap >上午2</td>
	<td nowrap >上午3</td>
	<td nowrap >上午4</td>
	<td nowrap >下午1</td>
	<td nowrap >下午2</td>
	<td nowrap >下午3</td>
	<td nowrap >下午4</td>
	<{if $ISWANSHANG == "1"}><td nowrap >晚上1</td><{/if}>
	<{if $ISWANSHANG == "1"}><td nowrap >晚上2</td><{/if}>

<{/if}>
<{if $IS7 == "1"}>
	<{if $ISZAOSHANG == "1"}><td nowrap >早上</td><{/if}>
	<td nowrap >上午1</td>
	<td nowrap >上午2</td>
	<td nowrap >上午3</td>
	<td nowrap >上午4</td>
	<td nowrap >下午1</td>
	<td nowrap >下午2</td>
	<td nowrap >下午3</td>
	<td nowrap >下午4</td>
	<{if $ISWANSHANG == "1"}><td nowrap >晚上1</td><{/if}>
	<{if $ISWANSHANG == "1"}><td nowrap >晚上2</td><{/if}>

<{/if}>
  </tr>

<{section name=ClassCodeList loop=$ClassCodeList}>

<tr class="TableData"> 
    <td nowrap width="90" rowspan="3"><font color=blue style="font-size:9pt"><{$ClassCodeList[ClassCodeList].ClassName}></font></td>
    <td nowrap width="54">课程</td>
    <{if $ISZAOSHANG == "1"}><td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.1.0}></td><{/if}>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.1.1}></td>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.1.2}></td>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.1.3}></td>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.1.4}></td>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.1.5}></td>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.1.6}></td>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.1.7}></td>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.1.8}></td>
    <{if $ISWANSHANG == "1"}><td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.1.9}></td><{/if}>
    <{if $ISWANSHANG == "1"}><td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.1.10}></td><{/if}>
    
	<{if $ISZAOSHANG == "1"}><td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.2.0}></td><{/if}>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.2.1}></td>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.2.2}></td>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.2.3}></td>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.2.4}></td>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.2.5}></td>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.2.6}></td>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.2.7}></td>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.2.8}></td>
    <{if $ISWANSHANG == "1"}><td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.2.9}></td><{/if}>
	<{if $ISWANSHANG == "1"}><td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.2.10}></td><{/if}>

	<{if $ISZAOSHANG == "1"}><td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.3.0}></td><{/if}>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.3.1}></td>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.3.2}></td>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.3.3}></td>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.3.4}></td>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.3.5}></td>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.3.6}></td>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.3.7}></td>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.3.8}></td>
    <{if $ISWANSHANG == "1"}><td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.3.9}></td><{/if}>
    <{if $ISWANSHANG == "1"}><td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.3.10}></td><{/if}>

	<{if $ISZAOSHANG == "1"}><td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.4.0}></td><{/if}>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.4.1}></td>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.4.2}></td>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.4.3}></td>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.4.4}></td>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.4.5}></td>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.4.6}></td>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.4.7}></td>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.4.8}></td>
    <{if $ISWANSHANG == "1"}><td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.4.9}></td><{/if}>
    <{if $ISWANSHANG == "1"}><td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.4.10}></td><{/if}>

	<{if $ISZAOSHANG == "1"}><td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.5.0}></td><{/if}>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.5.1}></td>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.5.2}></td>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.5.3}></td>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.5.4}></td>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.5.5}></td>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.5.6}></td>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.5.7}></td>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.5.8}></td>
    <{if $ISWANSHANG == "1"}><td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.5.9}></td><{/if}>
	<{if $ISWANSHANG == "1"}><td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.5.10}></td><{/if}>
	<{if $IS6 == "1"}>
	<{if $ISZAOSHANG == "1"}><td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.6.0}></td><{/if}>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.6.1}></td>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.6.2}></td>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.6.3}></td>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.6.4}></td>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.6.5}></td>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.6.6}></td>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.6.7}></td>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.6.8}></td>
    <{if $ISWANSHANG == "1"}><td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.6.9}></td><{/if}>
	<{if $ISWANSHANG == "1"}><td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.6.10}></td><{/if}>
	<{/if}>
	<{if $IS7 == "1"}>
	<{if $ISZAOSHANG == "1"}><td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.7.0}></td><{/if}>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.7.1}></td>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.7.2}></td>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.7.3}></td>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.7.4}></td>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.7.5}></td>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.7.6}></td>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.7.7}></td>
    <td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.7.8}></td>
    <{if $ISWANSHANG == "1"}><td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.7.9}></td><{/if}>
	<{if $ISWANSHANG == "1"}><td nowrap bgcolor="#ffccff" class=td1 ><{$ClassCodeList[ClassCodeList].classtablename.7.10}></td><{/if}>
	<{/if}>

  </tr>
<tr class="TableData">
    <td>教师</td>
    <{if $ISZAOSHANG == "1"}><td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.1.0}></td><{/if}>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.1.1}></td>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.1.2}></td>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.1.3}></td>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.1.4}></td>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.1.5}></td>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.1.6}></td>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.1.7}></td>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.1.8}></td>
    <{if $ISWANSHANG == "1"}><td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.1.9}></td><{/if}>
    <{if $ISWANSHANG == "1"}><td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.1.10}></td><{/if}>
    
	<{if $ISZAOSHANG == "1"}><td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.2.0}></td><{/if}>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.2.1}></td>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.2.2}></td>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.2.3}></td>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.2.4}></td>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.2.5}></td>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.2.6}></td>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.2.7}></td>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.2.8}></td>
    <{if $ISWANSHANG == "1"}><td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.2.9}></td><{/if}>
	<{if $ISWANSHANG == "1"}><td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.2.10}></td><{/if}>

	<{if $ISZAOSHANG == "1"}><td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.3.0}></td><{/if}>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.3.1}></td>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.3.2}></td>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.3.3}></td>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.3.4}></td>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.3.5}></td>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.3.6}></td>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.3.7}></td>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.3.8}></td>
    <{if $ISWANSHANG == "1"}><td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.3.9}></td><{/if}>
	<{if $ISWANSHANG == "1"}><td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.3.10}></td><{/if}>

	<{if $ISZAOSHANG == "1"}><td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.4.0}></td><{/if}>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.4.1}></td>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.4.2}></td>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.4.3}></td>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.4.4}></td>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.4.5}></td>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.4.6}></td>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.4.7}></td>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.4.8}></td>
    <{if $ISWANSHANG == "1"}><td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.4.9}></td><{/if}>
    <{if $ISWANSHANG == "1"}><td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.4.10}></td><{/if}>

	<{if $ISZAOSHANG == "1"}><td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.5.0}></td><{/if}>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.5.1}></td>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.5.2}></td>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.5.3}></td>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.5.4}></td>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.5.5}></td>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.5.6}></td>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.5.7}></td>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.5.8}></td>
    <{if $ISWANSHANG == "1"}><td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.5.9}></td><{/if}>
	<{if $ISWANSHANG == "1"}><td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.5.10}></td><{/if}>
<{if $IS6 == "1"}>
	<{if $ISZAOSHANG == "1"}><td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.6.0}></td><{/if}>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.6.1}></td>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.6.2}></td>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.6.3}></td>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.6.4}></td>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.6.5}></td>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.6.6}></td>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.6.7}></td>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.6.8}></td>
    <{if $ISWANSHANG == "1"}><td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.6.9}></td><{/if}>
	<{if $ISWANSHANG == "1"}><td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.6.10}></td><{/if}>
<{/if}>
<{if $IS7 == "1"}>
	<{if $ISZAOSHANG == "1"}><td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.7.0}></td><{/if}>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.7.1}></td>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.7.2}></td>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.7.3}></td>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.7.4}></td>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.7.5}></td>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.7.6}></td>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.7.7}></td>
    <td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.7.8}></td>
    <{if $ISWANSHANG == "1"}><td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.7.9}></td><{/if}>
	<{if $ISWANSHANG == "1"}><td nowrap bgcolor="#CCFFCC" class=td1 ><{$ClassCodeList[ClassCodeList].teachername.7.10}></td><{/if}>
<{/if}>
</tr>
<tr class="TableData">
    <td nowrap width=60>教室</td>
    <{if $ISZAOSHANG == "1"}><td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.1.0}></td><{/if}>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.1.1}></td>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.1.2}></td>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.1.3}></td>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.1.4}></td>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.1.5}></td>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.1.6}></td>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.1.7}></td>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.1.8}></td>
    <{if $ISWANSHANG == "1"}><td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.1.9}></td><{/if}>
    <{if $ISWANSHANG == "1"}><td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.1.10}></td><{/if}>
   
	<{if $ISZAOSHANG == "1"}><td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.2.0}></td><{/if}>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.2.1}></td>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.2.2}></td>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.2.3}></td>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.2.4}></td>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.2.5}></td>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.2.6}></td>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.2.7}></td>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.2.8}></td>
    <{if $ISWANSHANG == "1"}><td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.2.9}></td><{/if}>
    <{if $ISWANSHANG == "1"}><td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.2.10}></td><{/if}>

	<{if $ISZAOSHANG == "1"}><td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.3.0}></td><{/if}>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.3.1}></td>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.3.2}></td>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.3.3}></td>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.3.4}></td>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.3.5}></td>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.3.6}></td>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.3.7}></td>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.3.8}></td>
    <{if $ISWANSHANG == "1"}><td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.3.9}></td><{/if}>
    <{if $ISWANSHANG == "1"}><td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.3.10}></td><{/if}>

	<{if $ISZAOSHANG == "1"}><td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.4.0}></td><{/if}>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.4.1}></td>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.4.2}></td>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.4.3}></td>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.4.4}></td>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.4.5}></td>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.4.6}></td>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.4.7}></td>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.4.8}></td>
    <{if $ISWANSHANG == "1"}><td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.4.9}></td><{/if}>
    <{if $ISWANSHANG == "1"}><td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.4.10}></td><{/if}>

	<{if $ISZAOSHANG == "1"}><td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.5.0}></td><{/if}>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.5.1}></td>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.5.2}></td>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.5.3}></td>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.5.4}></td>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.5.5}></td>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.5.6}></td>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.5.7}></td>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.5.8}></td>
    <{if $ISWANSHANG == "1"}><td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.5.9}></td><{/if}>
	<{if $ISWANSHANG == "1"}><td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.5.10}></td><{/if}>
<{if $IS6 == "1"}>
	<{if $ISZAOSHANG == "1"}><td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.6.0}></td><{/if}>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.6.1}></td>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.6.2}></td>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.6.3}></td>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.6.4}></td>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.6.5}></td>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.6.6}></td>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.6.7}></td>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.6.8}></td>
    <{if $ISWANSHANG == "1"}><td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.6.9}></td><{/if}>
	<{if $ISWANSHANG == "1"}><td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.6.10}></td><{/if}>
<{/if}>
<{if $IS7 == "1"}>
	<{if $ISZAOSHANG == "1"}><td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.7.0}></td><{/if}>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.7.1}></td>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.7.2}></td>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.7.3}></td>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.7.4}></td>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.7.5}></td>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.7.6}></td>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.7.7}></td>
    <td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.7.8}></td>
    <{if $ISWANSHANG == "1"}><td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.7.9}></td><{/if}>
	<{if $ISWANSHANG == "1"}><td nowrap bgcolor="#ffffCC" class=td1 ><{$ClassCodeList[ClassCodeList].classroomname.7.10}></td><{/if}>
<{/if}>
</tr>
<{/section}>
</table>

